   /* Navbar Logo */
   @media screen and (max-width:1000px) {      

    
       .nav-link {
           padding: 10px !important;
       }

       /* Navbar Button */
       .hbtn {
           margin-left: 0%;
       }

       /* Slider Main Heading */
       .sheading {
           font-size: 44px !important;
       }

       /* Slider Paragraphs */
       .sliderp {
           font-size: 22px !important;
       }
       /* Slider Side Button */
       .radio-button {
           margin-left: 79%;
       }
      
      .radio-button label {
        display: block;
        cursor: pointer;
        position: relative;
        background-color: none !important;
        border: 1px solid #000;
        margin-left: 40%;       
        border-color: black;
        border-radius: 5px;
    }
   }
   @media screen and (max-width:700px) {
     /* Slider Side Button */
     .radio-button {
        margin-left: 60%;
    }
    
   }

   /* Navbar Button Hidden */
   @media screen and (max-width:1200px) {
       .hbtn {
           display: none;
       }
       .radio-button label{
        margin-left: 67px;
       }

   }