   
   /* Navbar Logo */   
@media screen and (max-width:1000px) {
    #navlogo {
        width: 50%;
    }
    .nav-link{
        padding: 10px !important;       
    }
    /* Navbar Button */
    .hbtn{
        margin-left: 0%;
    }
    /* Slider Main Heading */
    .sheading{
        font-size: 44px !important;
    }
    /* Slider Paragraphs */
    .sliderp{
        font-size: 22px !important;       
    }
}
/* Navbar Button Hidden */
@media screen and (max-width:1200px) {
    .hbtn{
        display: none;

    }
    
}