* {
    margin: 0px;
    padding: 0px;    
}

/* Navbar Logo */
/* Deepak Write This Code */
#navlogo {
    margin: 0% 5% 0% 5%;   
}

.navbar-nav {
    font-size: 14px;
    margin-right: 5%;
    font-weight: 400;
    align-items: center;
    font-family: League Spartan;
    
}

.nav-link {
    padding: 20px !important;
    color: white !important;    
}

/* Navbar Hover Color Change */
.nav-link:hover {
    color: #1ab68a !important;
}

/* Navbar Active Color */
.nav-link:active {
    color: #f5ab1b !important;
}

/* Navbar Button */
.hbtn {  
    cursor: pointer;
    color: #d0e9f0 ;
    font-size: 16px;
    margin-left: 10%;
    border-radius: 8px;
    padding: 10px 15px;
    border-color: #f5ab1b;
    background-color:  #0b1323;
    transition: background-color 0.3s ease-in;
   
}

.hbtn:hover {
    color: black;
    background-color: #19b68b;
}
/* Navbar Social Button */
.nav-item img{
    height: 16px; 
    cursor: pointer;       
}
/* Windows Mac Android iOS Tablet Chromebook Printer Heading */
.sheading {
    font-size: 45px;   
    font-weight: 700;      
}

/* Slider Section P Heading */
.sliderp {
    font-size: 14px;
    font-weight: 400;  
}

/* Side Button Slider */
.sidebnt {
    font-size: 16px;
    font-weight: 400;
    text-align: center;    
    align-items: center;   
}

/* Slider Upper Button */
.buttonY {
    cursor: pointer;
    color: #d0e9f0 ;
    font-size: 16px;
    margin-left: 10%;
    border-radius: 8px;
    padding: 10px 15px;
    border-color: #f5ab1b;
    background-color:  #0b132344;
    transition: background-color 0.3s ease-in;  
}
.buttonY:hover {
    color: black;
    background-color: #19b68b; 
    
}

.buttonZ {
    border: none;
    cursor: pointer;
    color:black;
    font-size: 16px;
    margin-left: 2%;
    border-radius: 8px;
    padding: 10px 15px;
    background-color: #f5ab1b;     
}
.buttonZ:hover{
    scale: 0.9;
    color: black;
    border: solid 1px #19b68b;        
}

.hamburger-menu {
    display: none;
    color: black;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    padding-left: 90%;
}

@media (max-width:423px) {
    .hamburger-menu {       
        padding-left: 1%;
    }
}

/* navbar end */
.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

/* Member Price : $19.99/Month for each */
.textchange h5{
    color: white;
    font-size: 42px;
    font-weight: 500;   
    background-color: #1ab68a;   
}

.subheding {
    font-size: 22px;
    font-weight: 800;
    line-height: 29px;
    font-family: Montserrat;  
}

/* Third Section Class Start IMG, Heading, Paragraph */

/* Section Image */
.sectionimg{
    margin: 10px 10px;    
    width: 15%;
 
}
/* Section Heading */
.sectionh{
    margin: 10px 10px;
    font-size: 18px;
    font-weight:600;
 
}
/* Section Paragraph */
.sectionp{
    margin: 10px 10px;
    font-size: 14px;
    font-weight: 400;
    
}





/* Shashi Code Write Here TO Down */

.image-container {
    position: relative;
    width: 100%;
    text-align: center;
}


.radio-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 85%;
    margin-top: 13%;
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-button label {
    display: block;
    cursor: pointer;
    position: relative;
    border: 1px solid #000;
    margin-left: 40%;
    color: white;
    border-color: #33b592;
    border-radius: 5px;
    backdrop-filter: blur(20px);
}

.radio-button img {
    width: 50px;
    height: 50px;
    margin: 5px 20px;
}

.radio-button input[type="radio"]:checked+label {
    background: #f5ab1b;
}

.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.testimonial-card .avatar {
    width: 110px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
}
.popularone{
    background-color:#d0e9f0;   
    background-image: url(/assest/img/top_left_dark_blue.png);
    background-repeat: no-repeat;
}

/* .populer{
   background-image: url(../img/bottom_right_blue-removebg.png);  
   background-repeat: no-repeat;
   background-color: red;      
} */