* {
    margin: 0px;
    padding: 0px;
    /* font-family: Montserrat; */
    /* font-family: Poppins; */
}

/* Navbar Logo */
/* Deepak Write This Code */
#navlogo {
    margin-right: 7%;
}

.navbar-nav {
    font-size: 18px;
    font-weight: 600;
    font-family: Montserrat;
}

.nav-link {
    padding: 20px !important;
    color: white !important;
}

/* Navbar Hover Color Change */
.nav-link:hover {
    color: #566db0 !important;
}

/* Navbar Active Color */
.nav-link:active {
    color: #f5ab1b !important;
}

/* Navbar Button */
.hbtn {
    border: none;
    color: white;
    font-size: 18px;
    margin-left: 7%;
    font-weight: 600;
    line-height: 29px;
    padding: 5px 15px;
    border-radius: 50px;
    background-color: #f5ab1b;
}

.hbtn:hover {
    color: black;
    background-color: #19b68b;
}

/* Windows Mac Android iOS Tablet Chromebook Printer Heading */
.sheading {
    font-size: 44px;
    font-weight: 700;
    line-height: 57px;
    font-family: Montserrat;
}

/* Slider Section P Heading */
.sliderp {
    font-size: 18px;
    font-weight: 500;
    font-family: Poppins !important;
    text-align: center;
    justify-content: center;

}

/* Side Button Slider */
.sidebnt {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: Montserrat;
}

/* Slider Upper Button */
.buttonY {
    margin: 5px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    padding: 5px 15px;
    border-radius: 50px;
    background-color: #f5ab1b;
}

.buttonZ {
    margin: 5px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    padding: 5px 15px;
    border-radius: 50px;
    background-color: #19b68b;
}

.hamburger-menu {
    display: none;
    color: black;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    padding-left: 90%;
}

@media (max-width:423px) {
    .hamburger-menu {
        /* padding-top: 2px; */
        padding-left: 1%;

    }
}

/* navbar end */
.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

/* Member Price : $19.99/Month for each */
.textchange h5{
    font-size: 22px;
    font-weight: 800;
    font-family: Montserrat;
    color: white;
    background-color: #1ab68a;
}

.subheding {
    font-size: 22px;
    font-weight: 800;
    line-height: 29px;
    font-family: Montserrat;  
}








/* Shashi Code Write Here TO Down */

.image-container {
    position: relative;
    width: 100%;
    text-align: center;
}


.radio-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 85%;
    margin-top: 13%;
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-button label {
    display: block;
    cursor: pointer;
    position: relative;
    border: 1px solid #000;
    margin-left: 40%;
    color: white;
    border-color: #33b592;
    border-radius: 5px;
    backdrop-filter: blur(20px);
}

.radio-button img {
    width: 50px;
    height: 50px;
    margin: 5px 20px;
}

.radio-button input[type="radio"]:checked+label {
    background: #f5ab1b;
}

.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.testimonial-card .avatar {
    width: 110px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
}




